In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-05-12 18:57:25,-22.9661,-42.0278,76.86,73,75,12.66
1,1,Longyearbyen,SJ,2022-05-12 18:57:26,78.2186,15.6401,19.24,63,0,14.97
2,2,Albany,US,2022-05-12 18:54:34,42.6001,-73.9662,86.92,30,19,4.00
3,3,Saint George,US,2022-05-12 18:53:48,37.1041,-113.5841,68.79,21,0,4.61
4,4,Kaitangata,NZ,2022-05-12 18:57:26,-46.2817,169.8464,45.28,81,99,5.39

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-05-12 18:57:25,-22.9661,-42.0278,76.86,73,75,12.66
2,2,Albany,US,2022-05-12 18:54:34,42.6001,-73.9662,86.92,30,19,4.00
6,6,Westport,US,2022-05-12 18:54:13,41.1415,-73.3579,80.28,67,75,5.01
12,12,Nishihara,JP,2022-05-12 18:57:28,26.1842,127.7558,78.08,94,75,14.97
14,14,Salinopolis,BR,2022-05-12 18:57:29,-0.6136,-47.3561,80.64,81,94,6.38
16,16,Bagado,CO,2022-05-12 18:57:30,5.4116,-76.4152,87.15,73,99,3.00
19,19,Rikitea,PF,2022-05-12 18:57:31,-23.1203,-134.9692,77.00,76,1,18.61
25,25,Butaritari,KI,2022-05-12 18:57:33,3.0707,172.7902,81.37,78,100,18.03
28,28,Kismayo,SO,2022-05-12 18:57:34,-0.3582,42.5454,80.85,76,96,15.26
34,34,Tevaitoa,PF,2022-05-12 18:57:36,-16.7833,-151.5000,82.02,72,15,19.66

In [10]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     76.86 -22.9661  -42.0278
2            Albany      US     86.92  42.6001  -73.9662
6          Westport      US     80.28  41.1415  -73.3579
12        Nishihara      JP     78.08  26.1842  127.7558
14      Salinopolis      BR     80.64  -0.6136  -47.3561
16           Bagado      CO     87.15   5.4116  -76.4152
19          Rikitea      PF     77.00 -23.1203 -134.9692
25       Butaritari      KI     81.37   3.0707  172.7902
28          Kismayo      SO     80.85  -0.3582   42.5454
34         Tevaitoa      PF     82.02 -16.7833 -151.5000

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,76.86,-22.9661,-42.0278,Pousada Porto Praia
2,Albany,US,86.92,42.6001,-73.9662,
6,Westport,US,80.28,41.1415,-73.3579,The Westport Inn
12,Nishihara,JP,78.08,26.1842,127.7558,Minshuku Agaihama
14,Salinopolis,BR,80.64,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]